.div {
	width:480px;
}
.btn {height:24px; padding-top:3px;
}
.form{  margin:0;padding:0;}

.infoform{ margin:0px;}
.infoform input{width:180px; height:24px;}
.infoform select{width:180px;height:24px;}
#infoform textarea{width:240px; height:60px;}

.addInfoResult{ padding:20px auto auto 20px;}
.topdiv{width:480px; margin:0 auto;}

.commentDiv{width:360px;margin-left:40px;}
.commentDiv div{ border-bottom:#CCCCCC thin dotted;}

.addCommentDiv{margin-top:5px;}