<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
		 <!-- hibernate filter -->
  	<filter>
  		<filter-name>hibernateFilter</filter-name>
  		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  		<!-- 
  		<init-param>
     		<param-name>sessionFactoryBeanName</param-name>
     		<param-value>sessionFactory</param-value>
   		</init-param>
   	 
  		<init-param>
			<param-name>singleSession</param-name>
    		<param-value>false</param-value>
  		</init-param>
  		-->
  	</filter>
  
	<filter-mapping>
	 	<filter-name>hibernateFilter</filter-name>
	  		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--load spring 2-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class> org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!--use the struts IOC-->
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class> org.apache.struts2.dispatcher.ActionContextCleanUp
		</filter-class>
	</filter>
	<!-- 定义SiteMesh的核心过滤器 -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter
		</filter-class>
	</filter>
	<!--load struts 2-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 添加Freemarker支持 -->
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>InitParameters</servlet-name>
		<servlet-class>org.gameye.psp.image.config.InitParameters</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<filter>
		<filter-name>WebCharsetEncodingFilter
		</filter-name>
		<filter-class> com.struts2.filter.WebCharsetEncodingFilter
		</filter-class>
		<init-param>
			<param-name>Charset</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>WebCharsetEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
</web-app>